<%= form_with model: @profile, method: :post  do |f| %>
  <div class = "field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class = "field">
    <%= f.label :family_name%>
    <%= f.text_field, class: 'form-name', :family_name, autofocus: true %>
  <div>

  <div class = "field">
    <%= f.label :first_name_kana%>
    <%= f.text_field :first_name_kana, autofocus: true %>
  </div>

  <div class = "field" >
    <%= f.label :family_name_kana %>
    <%= f.text_field :family_name_kana, autofocus: true %>
  </div>

  <div class = "field">
    <%= f.label :birth_date %>
    <%= f.text_field :birth_date, autofocus: true %>
  </div>
  
  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<%end%>