= render partial: 'items/header'

.MyPage
  = render partial: 'devise/sessions/side_nav'
  .MainField
    .RegistrationPage
      .FormArea
        %h1.head-name 会員情報変更
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          .FormItem
            %dl
              %dt.FormItem__label
                = f.label :nickname,"ニックネーム"
                %span.required 必須
              %dd.FormItem__detail
                = f.text_field :nickname, autofocus: true
          .FormItem
            %dl
              %dt.FormItem__label
                = f.label :email
                %span.required 必須
              %dd.FormItem__detail
                = f.email_field :email, autofocus: true, autocomplete: "email"
          .FormItem
            %dl
              %dt.FormItem__label
                = f.label :password,"新しいパスワード"
                - if @minimum_password_length
                  %em
                    (#{@minimum_password_length} 文字以上)
                  %span.required 必須
              %dd.FormItem__detail
                = f.password_field :password, autocomplete: "new-password", placeholder: '半角英数字'
          .FormItem
            %dl
              %dt.FormItem__label
                = f.label :password_confirmation,"パスワード再確認"
                %span.required 必須
              %dd.FormItem__detail
                = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: '半角英数字'
          .FormItem
            %dl
              %dt.FormItem__label
                = f.label :current_password,"現在のパスワード"
                %span.required 必須
              %dd.FormItem__detail
                = f.password_field :current_password, autocomplete: "current-password", placeholder: '半角英数字',required: true
          .FormItem 
            %p.FormItem__btn
              = f.submit "変更する"

= render partial: 'items/footer'
= render partial: 'items/putting_up_btn'