- flash.each do |key, value|
  = content_tag :div, value, class: key

.CardRegistPage
  #CardRegistHeader
    %h1
      = link_to image_tag('logo.png', size: "214x62", alt: "FURIMA"), root_path
  #CardRegistArea
    %h2 新規カード登録
    .FormArea
      = form_with url: credit_cards_path, id: "charge-form", local: true do |form|
        .FormItem
          %dl
            %dt.FormItem__label
              = form.label :number, "カード番号"
              %span.required 必須
            %dd.FormItem__detail
              = form.text_field :number, class: "form_detail", placeholder: "半角数字のみ", maxlength: "16"
            %dd.FormItem__note
              VISA / MASTERCARD / JCB / AMEX / DINERS / DISCOVER
        .FormItem
          %dl
            %dt.FormItem__label
              = form.label :exp_date, "有効期限"
              %span.required 必須
            %dd.FormItem__detail.FormItem__exp_date
              = form.text_field :exp_month, class: "exp_month", placeholder: "例）09"
              %p 月&nbsp;／
              = form.text_field :exp_year, class: "exp_year", placeholder: "例）2020"
              %p 年
        .FormItem
          %dl
            %dt.FormItem__label
              = form.label :cvc, "セキュリティコード"
              %span.required 必須
            %dd.FormItem__detail
              = form.text_field :cvc, class: "form_detail", placeholder: "カード背面3桁または4桁の数字", maxlength: "4"
        .formItem
          %p.FormItem__btn
            = form.submit "登録する"
            = link_to "もどる", payment_method_items_path
  #CardRegistFooter
    %h2
      = image_tag "logo.png", size: "107x31", alt: "FURIMA"
    %p &copy; FURIMA