.CardShowPage
  #CardShowHeader
    %h1
      = link_to image_tag('logo.png', size: "214x62", alt: "FURIMA"), root_path
  #CardShowArea
    %h2 支払方法
    .ShowArea
      .Card
        .Card__detail
          %dl
            %dt.Card__detail__label
              クレジットカード
            %dd.Card__detail__contents
              = "**** **** **** #{@default_card_information.last4}"
            %dd.Card__detail__contents
              = "有効期限 #{@default_card_information.exp_month} / #{@default_card_information.exp_year}"
        .Card__deleteBtn
          = link_to "削除する", credit_card_path(@default_card_information.id), method: :delete, class: "btn"
      .Button.border
        %p.Button__btn
          = link_to "このカードを使う", buy_items_path
        -# %p.Button__back
        -#   = link_to "もどる", :back
  #CardShowFooter
    %h2
      = image_tag "logo.png", size: "107x31", alt: "FURIMA"
    %p &copy; FURIMA