.SideBar
  %ul.Nav
    = link_to "#", class: "Nav__content" do
      %li.Nav__content--name マイページ
      = icon('fas', 'angle-double-right')
    = link_to new_item_path, class: "Nav__content" do
      %li.Nav__content--name 出品する
      = icon('fas', 'angle-double-right')
    = link_to "#", class: "Nav__content" do
      %li.Nav__content--name 出品中の商品
      = icon('fas', 'angle-double-right')
    = link_to "#", class: "Nav__content" do
      %li.Nav__content--name 売却済の商品
      = icon('fas', 'angle-double-right')

  %h3 設定
  %ul.Nav 
    = link_to "#", class: "Nav__content" do
      %li.Nav__content--name プロフィール
      = icon('fas', 'angle-double-right')
    = link_to "#", class: "Nav__content" do
      %li.Nav__content--name 本人情報
      = icon('fas', 'angle-double-right')
    = link_to "#", class: "Nav__content" do
      %li.Nav__content--name お届け先住所変更
      = icon('fas', 'angle-double-right')
    = link_to "#", class: "Nav__content" do
      %li.Nav__content--name 支払い方法
      = icon('fas', 'angle-double-right')
    = link_to "#", class: "Nav__content" do
      %li.Nav__content--name ログアウト
      = icon('fas', 'angle-double-right') 