= render partial: 'items/header'

.MyPage
  = render partial: 'devise/sessions/side_nav'
  .MainField
    .RegistrationPage
      %h2.head-name 会員情報編集
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          = f.label :nickname,"ニックネーム"
          %span.sabu-red (必須)
          %br/
          = f.text_field :nickname, autofocus: true
        .field
          = f.label :email
          %span.sabu-red (必須)
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .field
          = f.label :password,"パスワード"
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} 文字以上)
            %span.sabu-red (必須)
            %br/
          = f.password_field :password, autocomplete: "new-password"
        .field
          = f.label :password_confirmation,"パスワード再確認"
          %span.sabu-red (必須)
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password"
        .actions
          = f.submit "編集"


= render partial: 'items/footer'
= render partial: 'items/putting_up_btn'