<footer>
  <div class="footer_container">
    <div class="footer_list">
      <div class="Footer_content">
        <h2 class="Footer_content__headline">FURIMAについて</h2>
        <ul class="Footer_content__list">
          <div class="Footer_content__list__link_wrapper"> 
            <%= link_to "会社概要（運営会社）", "#", class: "Footer_content__list__link" %>
          </div>
          <div class="Footer_content__list__link_wrapper"> 
            <%= link_to "プライバシーポリシー", "#", class: "Footer_content__list__link" %>
          </div>
          <div class="Footer_content__list__link_wrapper"> 
            <%= link_to "FURIMA利用規約", "#", class: "Footer_content__list__link" %>
          </div>
          <div class="Footer_content__list__link_wrapper"> 
            <%= link_to "ポイントに関する特約", "#", class: "Footer_content__list__link" %>
          </div>
        </ul>
      </div>
      <div class="Footer_content">
        <h2 class="Footer_content__headline">FURIMAを見る</h2>
        <ul class="Footer_content__list">
          <div class="Footer_content__list__link_wrapper"> 
            <%= link_to "カテゴリー一覧", "#", class: "Footer_content__list__link" %>
          </div>
          <div class="Footer_content__list__link_wrapper"> 
            <%= link_to "ブランド一覧", "#", class: "Footer_content__list__link" %>
          </div>
        </ul>
      </div><div class="Footer_content">
        <h2 class="Footer_content__headline">ヘルプ＆ガイド</h2>
        <ul class="Footer_content__list">
          <div class="Footer_content__list__link_wrapper"> 
            <%= link_to "FURIMAガイド", "#", class: "Footer_content__list__link" %>
          </div>
          <div class="Footer_content__list__link_wrapper"> 
            <%= link_to "FURIMAロゴ利用ガイドライン", "#", class: "Footer_content__list__link" %>
          </div>
          <div class="Footer_content__list__link_wrapper"> 
            <%= link_to "お知らせ", "#", class: "Footer_content__list__link" %>
          </div>
        </ul>
      </div>
    </div>
    <%= link_to "/" do %>
      <%= image_tag "logo/logo-white.png", class:"footer_logo", size:"160x46" %>
    <% end %>
    <p class="footer_copy">&copy; FURIMA</p>
  </div>
</footer>