<div class="Item_block__lists">
  <%= link_to "#", class: "Item_box" do %>
    <%= image_tag "pict/coffee.jpg", class: "Item_box__img", size:"200x150" %>
    <div class="Item_box__text_block">
      <h3 class="Item_box__text_block__item_name">テスト</h3>
      <ul class="Item_box__text_block__price">
        <li>10000円</li>
        <div>
          <li class="star_icon"><%= icon("fas", "star") %></li>
          <li>1</li>
        </div>
      </ul>
      <p class="Item_box__text_block__tax">（税込）</p>
    </div>
  <% end %>
  <%= link_to "#", class: "Item_box" do %>
    <%= image_tag "pict/coffee.jpg", class: "Item_box__img", size:"200x150" %>
    <div class="Item_box__text_block">
      <h3 class="Item_box__text_block__item_name">テスト</h3>
      <ul class="Item_box__text_block__price">
        <li>10000円</li>
        <div>
          <li class="star_icon"><%= icon("fas", "star") %></li>
          <li>1</li>
        </div>
      </ul>
      <p class="Item_box__text_block__tax">（税込）</p>
    </div>
  <% end %>
  <%= link_to "#", class: "Item_box" do %>
    <%= image_tag "pict/coffee.jpg", class: "Item_box__img", size:"200x150" %>
    <div class="Item_box__text_block">
      <h3 class="Item_box__text_block__item_name">テスト</h3>
      <ul class="Item_box__text_block__price">
        <li>10000円</li>
        <div>
          <li class="star_icon"><%= icon("fas", "star") %></li>
          <li>1</li>
        </div>
      </ul>
      <p class="Item_box__text_block__tax">（税込）</p>
    </div>
  <% end %>
  <%= link_to "#", class: "Item_box" do %>
    <%= image_tag "pict/coffee.jpg", class: "Item_box__img", size:"200x150" %>
    <div class="Item_box__text_block">
      <h3 class="Item_box__text_block__item_name">テスト</h3>
      <ul class="Item_box__text_block__price">
        <li>10000円</li>
        <div>
          <li class="star_icon"><%= icon("fas", "star") %></li>
          <li>1</li>
        </div>
      </ul>
      <p class="Item_box__text_block__tax">（税込）</p>
    </div>
  <% end %>
  <%= link_to "#", class: "Item_box" do %>
    <%= image_tag "pict/coffee.jpg", class: "Item_box__img", size:"200x150" %>
    <div class="Item_box__text_block">
      <h3 class="Item_box__text_block__item_name">テスト</h3>
      <ul class="Item_box__text_block__price">
        <li>10000円</li>
        <div>
          <li class="star_icon"><%= icon("fas", "star") %></li>
          <li>1</li>
        </div>
      </ul>
      <p class="Item_box__text_block__tax">（税込）</p>
    </div>
  <% end %>
</div>