= link_to item_path(item.id), class: "Item_box" do
  = image_tag "#{item.item_images.first.url}", class: "Item_box__img", size:"180x180"
  .Item_box__text_block
    %h3.Item_box__text_block__item_name= item.name
    .Item_box__text_block__price ¥ #{item.price}
    - unless item.favorites.length == 0
      %dl.Item_box__text_block__favorite
        - if Favorite.find_by(user_id: current_user.id, item_id: item.id)
          %dt.Item_box__text_block__favorite--icon= icon("fas", "star")
        - else
          %dt.Item_box__text_block__favorite--icon= icon("far", "star")
        %dd.Item_box__text_block__favorite--num #{item.favorites.length}