.BuyPage
  #BuyHeader
    %h1
      = link_to image_tag('logo.png', size: "214x62", alt: "FURIMA"), root_path
  #BuyArea
    %h2 購入内容の確認
    #ItemDetail.BuyAreaBox
      #ItemDetail__image
        = image_tag "pict/coffee.jpg", class: "ItemImage", size: "103x85", alt: "ItemImage"
      #ItemDetail__text 
        #ItemDetail__text__name
          澤井コーヒー レギュラーコーヒー ソルブレンド 500g
        #ItemDetail__text__price
          送料込み（税込）
          %span ¥3,000
    #PaymentAmount.BuyAreaBox
      %dl#PaymentAmount__detail
        %dt#PaymentAmount__detail__title 支払い金額
        %dd#PaymentAmount__detail__price ¥3,000
    #PaymentMethod.BuyAreaBox
      %dl
        %dt 支払い方法
        %dd
          = link_to "登録してください", payment_method_items_path
    #Destination.BuyAreaBox
      %dl
        %dt 配送先
        %dd
          〒150-0044
          %br
          東京都渋谷区円山町19番1号
          %br
          渋谷プライムプラザ12階
    #BuyBtn.BuyAreaBox
      = link_to "購入する", root_path, class: 'btn'
  #BuyFooter
    %h2
      = image_tag "logo.png", size: "107x31", alt: "FURIMA"
    %p &copy; FURIMA