= render partial: "header"
.main_visual_section
  .Main_visual
    %h1.Main_visual__headline 人生を変えるフリマアプリ
    %p.Main_visual__text
      FURIMAはだれでもかんたんに出品・購入できる
      %br>/
      フリマアプリです
    .Main_visual__badge
      = link_to "#" do
        = image_tag 'badge/app_store_badge.png', class: "Main_visual__badge--apple", size: "180x53"
      = link_to "#" do
        = image_tag 'badge/google-play-badge.png', class: "Main_visual__badge--google", size: "180x53"
.strong_point_section
  .Strong_point_list
    %h2.Strong_point_list__headline FURIMAが選ばれる3つの理由
    .Strong_point_list__reason_list
      .Reason_box
        .Reason_box__image_box
          = image_tag 'pict/pict-reason-01.jpg', class: "Reason_box__image_box__img"
          .Reason_box__image_box__number 1
        %h2.Reason_box__headline
          %span.Reason_box__headline--blue> 3分
          ですぐに出品
        %p.Reason_box__text スマホで入力するだけで簡単に出品できる！
      .Reason_box
        .Reason_box__image_box
          = image_tag 'pict/pict-reason-02.jpg', class: "Reason_box__image_box__img"
          .Reason_box__image_box__number 2
        %h2.Reason_box__headline
          %span.Reason_box__headline--blue> シンプル
          で使いやすい
        %p.Reason_box__text めんどくさい入力は必要なく、検索も購入もスムーズ！
      .Reason_box
        .Reason_box__image_box
          = image_tag 'pict/pict-reason-03.jpg', class: "Reason_box__image_box__img"
          .Reason_box__image_box__number 3
        %h2.Reason_box__headline
          手数料
          %span.Reason_box__headline--blue 業界最安
        %p.Reason_box__text 最大3%でお得に出品&amp;購入！
  .strong_point_visual_wrapper
    .Strong_point_visual
      %h2.Strong_point_visual__headline 会員数日本一
      %p.Strong_point_visual__text
        FURIMAは、フリマアプリで最も人気。
        %br>/
        出品・購入回数も業界最多です！
        %br>/
        ほしかったあの商品に出会えるかもしれません。
      .Strong_point_visual__badge
        = link_to "#" do
          = image_tag 'badge/app_store_badge.png', class: "Main_visual__badge--apple", size: "180x53"
        = link_to "#" do
          = image_tag 'badge/google-play-badge.png', class: "Main_visual__badge--google", size: "180x53"
.Feature_section
  .Feature_section__wrapper
    %h2.feature_headline FURIMAの特徴
    .Feature_list
      .Feature_box
        = image_tag "icon/icon-01.png", class: "Feature_box__img"
        %h2.Feature_box__headline 簡単に売り買いできる
        %p.Feature_box__text スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .Feature_box
        = image_tag "icon/icon-03.png", class: "Feature_box__img"
        %h2.Feature_box__headline 売上金は即日振込みに対応
        %p.Feature_box__text 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      .Feature_box
        = image_tag "icon/icon-04.png", class: "Feature_box__img"
        %h2.Feature_box__headline 様々な支払いに対応
        %p.Feature_box__text お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
.items_section
  .Item_block
    %h2.Item_block__headline ピックアップカテゴリー
    %h3.Item_block__subtitle 新規投稿商品
    = render partial: "items_list"
  .Item_block
    %h2.Item_block__headline ピックアップブランド
    %h3.Item_block__subtitle アーカイバ
    = render partial: "items_list"
.footer_visual_section
  .Footer_visual
    %h2.Footer_visual__headline だれでもかんたん、人生を変えるフリマアプリ
    %p.Footer_visual__text 今すぐ無料ダウンロード！
    .Footer_visual__badge
      = link_to "#" do
        = image_tag 'badge/app_store_badge.png', class: "Main_visual__badge--apple", size: "180x53"
      = link_to "#" do
        = image_tag 'badge/google-play-badge.png', class: "Main_visual__badge--google", size: "180x53"
= render partial: "footer"
= render partial: 'items/putting_up_btn'