<%= form_with model: @destination, method: :post  do |f| %>
  <div class = "field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class = "field">
    <%= f.label :family_name%>
    <%= f.text_field :family_name, autofocus: true %>
  <div>

  <div class = "field">
    <%= f.label :first_name_kana%>
    <%= f.text_field :first_name_kana, autofocus: true %>
  </div>

  <div class = "field" >
    <%= f.label :family_name_kana %>
    <%= f.text_field :family_name_kana, autofocus: true %>
  </div>

  <div class = "field">
    <%= f.label :postal_code %>
    <%= f.text_field :postal_code, autofocus: true %>
  </div>

  <div class = "field">
    <%= f.label :prefecture_code %>
    <%= f.text_field :prefecture_code, autofocus: true %>
  </div>

  <div class = "field">
    <%= f.label :city %>
    <%= f.text_field :city, autofocus: true %>
  </div>

  <div class = "field">
    <%= f.label :house_number %>
    <%= f.text_field :house_number, autofocus: true %>
  </div>
  <div class = "field">
    <%= f.label :room_number %>
    <%= f.text_field :room_number, autofocus: true %>
  </div>
  <div class = "lebel">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, autofocus: true %>
  </div>
  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<%end%>