= render partial: "/items/header"
.category_list_wrapper
  .parent_category_box
    - @categories.each do |category|
      = link_to "##{category.id}" do
        %button.parent_category_btn= category.name
  .child_category_list_wrapper
    - @categories.each do |category|
      .child_category_list
        = link_to "#{category.name}", "/categories/#{category.id}", class: "parent_name", id: "#{category.id}"
        - category.children.each do |child|
          .child_box
            = link_to "#{child.name}", "/categories/#{child.id}", class: "child_name"
          .grandchild_flexbox
            - child.children.each do |grandchild|
              .grandchild_box
                = link_to "#{grandchild.name}", "/categories/#{grandchild.id}", class: "grandchild_name"
        = link_to "ページトップへ戻る", "/categories", class:"category_top_link"
= render partial: "/items/footer"
